HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/

### mine ###
.git/
.svn/
.DS_Store
.tmp/
dist/
nohup.out
dependency.txt
*-test.log
/subtitles-extractor.log
/albums-webapp.log
/jpa-db.*
/springbootjpa.log
